In [1]:
import pandas as pd
import random

In [2]:
df=pd.read_csv('df_b100.csv')

In [3]:
df.head()

   rank         song                                 artist
0     1  First Class                            Jack Harlow
1     2    As It Was                           Harry Styles
2     3          N95                         Kendrick Lamar
3     4   Wait For U          Future Featuring Drake & Tems
4     5     Die Hard  Kendrick Lamar, Blxst & Amanda Reifer

In [4]:
df = df.applymap(lambda s:s.lower() if type(s) == str else s)

In [5]:
df.head()

   rank         song                                 artist
0     1  first class                            jack harlow
1     2    as it was                           harry styles
2     3          n95                         kendrick lamar
3     4   wait for u          future featuring drake & tems
4     5     die hard  kendrick lamar, blxst & amanda reifer

In [6]:
song_list=df['song'].tolist()

In [7]:
# collect user input with a prompt eg. 'what song do you like?'
# deal with at least one possible user input error / behaviour 
# look for what the user has input, against your 100 hot song collection 
# feedback to user if their song is hot or not
# provide a recommendation from the collection - potentially randomly

In [8]:
song=input('enter your song ').lower()
if len(song)==0:
    print('no input, please try again! ')
elif song in song_list:
    print('your song is on the TOP 100! ')    
else:
    print('your song is not on popular! Recommendation: ', random.choice(song_list))

enter your song wait for u
your song is on the TOP 100!